{
  "parser": "babel-eslint",
  "extends": "airbnb",
   "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "require-yield": [1],
    "import/named": [1],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-parens": [0, "as-needed"],
    "semi": [0],
    "arrow-body-style": [1],
    "jsx-a11y/label-has-for": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "jsx-quotes": [1],
    "no-param-reassign": [1],
    "no-unused-vars": [1],
    "operator-linebreak": [0],
    "react/prop-types": [1],
    "react/prefer-stateless-function": [1],
    "react/no-unused-prop-types": [1],
    "react/no-array-index-key": [1],
    "react/forbid-prop-types": [1],
    "import/prefer-default-export": [0],
    "import/no-named-as-default": [0],
    "import/no-named-as-default-member": [0],
    "import/no-unresolved": [0],
    "import/no-extraneous-dependencies": [0]
  }
}